.p{
    color: red;
}
.b{
   background-color: green;
}
.n{
    background-color: aqua;
}
.m{
    background-color: yellow;
}
.o{
    font-size: 100px;
    background-color: blue;
}
.q{
    font-size: 25px;
    background-color: pink;
    font-family: sans-serif;
}